<div class="container center">
    <h1 *ngIf="recipe" class="pamber decker">{{ recipe.name }}</h1>
    <div class="left">
        <mat-chip-set *ngIf="recipe" aria-label="Tags">
            <mat-chip *ngFor="let tag of recipe.tags" style="background-color: #ffc107;">
                <a href="search/{{ tag }}">{{ tag }}</a>
            </mat-chip>
        </mat-chip-set>
        <mat-form-field *ngIf="recipe" appearance="fill" style="width: 100%;">
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                readonly="readonly"
                style="width: 100%; background-color: transparent; padding: 0; border: 0;">{{ recipe.body }}</textarea>
        </mat-form-field>
        <div *ngIf="recipe">
            <img alt="recipe page" *ngFor="let image of recipe.images" src="{{ image }}" style="width: 100%;" />
        </div>
    </div>
</div>