<div class="container center">
    @if (loading) {
    <img src="assets/images/loading.gif" />
    }
    @if (!loading) {
    <h1 class="purple decker">{{ recipe.name }}</h1>
    }
    @if (!loading) {
    <div class="left">
        <mat-chip-set aria-label="Tags" class="animate__animated animate__slideInDown">
            <mat-chip *ngFor="let tag of recipe.tags" style="background-color: #ffc107;">
                <a [routerLink]="'/search/tag/' + tag">{{ tag }}</a>
            </mat-chip>
        </mat-chip-set>
        <mat-form-field appearance="fill" style="width: 100%;">
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                readonly="readonly"
                style="width: 100%; background-color: transparent; padding: 0; border: 0; font-size: 18px;">{{ recipe.body }}</textarea>
        </mat-form-field>
        <div>
            @for (image of recipe.images; track $index) {
            <img alt="recipe page" src="{{ image }}" style="margin: 5px; width: 100%; border: 4px solid #673ab7" />
            }
        </div>
        @if (authService.authenticated) {
        <div class="center">
            <button [routerLink]="'/edit/' + recipe.id" type="button" class="btn btn-primary mt-3">Edit</button>&nbsp;
            <button (click)="this.delete()" type="button" class="btn btn-danger mt-3">Delete</button>
        </div>
        }
    </div>
    }
</div>
