<div class="container center">
    <h1 class="purple decker">Log In</h1>
    <div class="center">
        <form #editForm=ngForm (submit)="authenticate(this.editForm)">
            <mat-form-field appearance="outline" style="width: 50%;">
                <mat-label>Password</mat-label>
                <input name="passwordInput" [type]="hide ? 'password' : 'text'" [(ngModel)]="p" matInput
                    maxlength="5" />
                <mat-icon (click)="hide = !hide" matSuffix class="eye">{{ hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
            </mat-form-field><br />
            <input type="submit" class="btn btn-primary mt-3" value="Submit" /><br />
            <span style="font-size: large">{{ message }}</span>
        </form>
    </div>
</div>