.nav-link-container {
    padding: 70px 10px 10px 10px;
}

.nav-link-container li {
    list-style: none;
    text-align: center;
}

.nav-link-container li a {
    text-decoration: none;
    font-family: "decker";
    outline: none;
    display: block;
    padding: 20px;
    color: #FFC107;
    width: 240px;
}

.nav-link-container li a:hover {
    color: #fceab6;
}

.nav-link-container li a:active {
    color: #673ab7;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "decker";
    font-size: 28px;
}

mat-sidenav {
    background-image: url(../assets/images/corner.svg);
    background-repeat: no-repeat;
    background-color: #444444 !important;
}

mat-sidenav div {
    margin-top: 15px;
    color: aliceblue;
    text-align: center;
    font-size: 12px;
}

mat-sidenav-content {
    background-image: url(../assets/images/background_2804.webp);
}

.full-width {
    width: 100%;
}

.container {
    padding: 50px 0 50px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}