.nav-link-container {
    padding: 70px 10px 10px 10px;
}

.nav-link-container li {
    list-style: none;
    text-align: center;
}

.nav-link-container li a {
    text-decoration: none;
    font-family: "decker";
    outline: none;
    display: block;
    padding: 20px;
    color: #FFC107;
}

.nav-link-container li a:hover {
    color: #fceab6;
}

.nav-link-container li a:active {
    color: #7E57C2;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "decker";
    font-size: 28px;
}

mat-sidenav-content,
mat-sidenav {
    background: url(/assets/images/background.jpg);
}

.full-width {
    width: 100%;
}

.container {
    padding: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
