@font-face {
    font-family: "coneria";
    src: url(/assets/fonts/ConeriaScript.ttf) format("truetype");
}

.script {
    font-family: "coneria";
    font-size: 36px;
}

.center {
    text-align: center;
}

.container {
    padding: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

li a {
    text-decoration: none;
    outline: none;
}
