@font-face {
    font-family: "coneria";
    src: url(/assets/fonts/ConeriaScript.ttf) format("truetype");
}

.script {
    font-family: "coneria";
    font-size: 36px;
}

.center {
    text-align: center;
}

.container {
    padding: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

li a {
    text-decoration: none;
    outline: none;
}

.pamber {
    color: #ffc107;
    text-shadow:
        -1px -1px 0 #673ab7,
        1px -1px 0 #673ab7,
        -1px 1px 0 #673ab7,
        1px 1px 0 #673ab7;
}

.larger {
    font-size: 45px;
    font-weight: 900;
}

img {
    width: 100%;
    padding: 0;
}