/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: "coneria";
    src: url(/assets/fonts/ConeriaScript.ttf) format("truetype");
}

@font-face {
    font-family: "decker";
    src: url(/assets/fonts/Decker.ttf) format("truetype");
}

.decker {
    font-family: "decker";
    font-size: 28px;
}

.script {
    font-family: "coneria";
    font-size: 32px;
}

.h1 {
    font-size: 48px;
    font-weight: 900;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.container {
    padding: 100px 0 50px 0;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.purple {
    color: #673ab7;
}

img.border {
    border: 5px solid #673ab7 !important;
}

body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
}