.h1 {
    font-size: 42px;
    font-weight: 900;
}

.decker {
    font-family: "decker";
    font-size: 28px;
}

mat-chip-set {
    border-top: 4px solid #673ab7;
    border-bottom: 4px solid #673ab7;
    padding: 5px;
    margin-top: 10px;
}

mat-paginator {
    border: 3px solid #673ab7;
    font-size: 13px;
    background-color: #FFC107;
}