@font-face {
    font-family: "decker";
    src: url(../../assets/fonts/Decker.ttf) format("truetype");
}

.decker {
    font-family: "decker";
    font-size: 28px;
    color: darkslategray;
}

.bg {
    background-image: url(../../assets/images/background.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}