<div class="container center">
    <h1 class="purple decker">Pictures</h1>
    
    <img src="assets/images/p/dsc_0664-tn.jpg" data-src="assets/images/p/dsc_0664.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/dsc_0669-tn.jpg" data-src="assets/images/p/dsc_0669.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/dsc_0675-tn.jpg" data-src="assets/images/p/dsc_0675.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/dsc_1866-tn.jpg" data-src="assets/images/p/dsc_1866.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/img_0030-tn.jpg" data-src="assets/images/p/img_0030.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/img_0220-tn.jpg" data-src="assets/images/p/img_0220.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/img_0828-tn.jpg" data-src="assets/images/p/img_0828.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/IMG_1364-tn.jpg" data-src="assets/images/p/IMG_1364.jpg" data-fancybox="gallery" alt=""
        class="border" />
    <img src="assets/images/p/IMG_1369-tn.jpg" data-src="assets/images/p/IMG_1369.jpg" data-fancybox="gallery" alt=""
        class="border" />
</div>